*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-bottom: 50px;
}

img{
    width: 100%;
}

h1{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 38px;
    width: 300px auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

h2{
    letter-spacing: 0.3px;
    font-family: 'Cinzel', serif;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
}

h3{
    font-family: 'Cinzel', serif;
    letter-spacing: 0.2px;
    margin-top: 50px;
    font-size: 18px;
    font-style: italic;
}

div{
    margin-left: 18px;
    margin-right: 18px
}

p{
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 30px;
}

ul{
    letter-spacing: 0.3px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.links{
    list-style-type: none;
    padding-left: 0px;
    line-height: 50px;
    text-align: center;
    display: none;
}



    
@media only screen and (min-width: 700px) {
    body{
        
    }
    div{
        margin-left: 65px;
        margin-right: 65px;
    }

    p{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    
    h3{
        margin-top: 70px;
        font-size: 26px;
    }
    
    h1{
        font-size: 45px;
        
    }
    
    h2{
        font-size: 18px;
    }
    
    ul{
        font-size: 20px;
        line-height: 30px;
    }
    
@media only screen and (min-width: 1024px) {
    h1{
        font-size: 60px;
    }
    
    h2{
        font-size: 20px;
    }
    
    div{
    
    }
        .sidebar{
            width: 170px;
            height: 470px;
            background-color: white;
            border-width: 2px;
            border-color: black;
            background-color: antiquewhite;
            border-style: solid;
            position: absolute;
            left: -200px;
        }
        .sidebar2{
            width: 170px;
            height: 5000px;
            border-width: 2px;
            background-color: deepskyblue;
            border-color: black;
            border-style: solid;
            position: absolute;
            left: -200px;
        }
        a{
            font-size: 16px;
            font-family: 'Cormorant Garamond', serif;
            text-align: center;
            line-height: 20px;
        }
        a:hover{
            color: darkturquoise;
        }
        
        ul{
            line-height: 40px;
            
        }
        
        div{
            margin-left: 200px;
        }
        h2{
            line-height: 25px;
        }
        p{
            margin-bottom: 50px;
        }
    
        .links{
            display: block;
        }    
    }
    
    @media only screen and (min-width: 1440px) {
        h1{
            margin-top: 60px;
            font-size: 80px;
        }
        
        .links{
            
        }
        
        .sidebar{
            width: 210px;
            height: 470px;
            background-color: white;
            border-width: 2px;
            border-color: black;
            background-color: antiquewhite;
            border-style: solid;
            position: absolute;
            left: -200px;
        }
        .sidebar2{
            width: 210px;
            height: 5000px;
            border-width: 2px;
            background-color: deepskyblue;
            border-color: black;
            border-style: solid;
            position: absolute;
            left: -200px;
        }
        
        p{
            margin-left: 150px;
            margin-right: 100px;
        }
        
        h3{
            margin-left: 150px;
        }
        
        #pic1{
            margin-left: 200px;
            width: 800px;
        }
        
        #pic2{
            margin-left: 200px;
            width: 850px;
        }
        
        #mainlist{
            margin-left: 150px;
            margin-right: 100px;
        }
    }
    
    
}























