body{
    background-color: azure;
    margin-top: 100px;
    text-align: center;
    
}
h1{
    font-size: 55px;
    font-family: serif;
    font-style: oblique;
}

h2{
    font-size: 38px;
}

a{
    font-size: 25px;
    text-decoration-color: crimson;
    text-decoration-style: wavy;
    color: cadetblue;
}

a:hover{
    color: fuchsia;
}

p{
    font-size: 25px;
}

ul{
    font-size: 25px;
}

div{
    width: 600px;
    margin: 50px auto;
    text-align: left;
}