*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    text-align: center;
}

h1{
    font-size: 130px;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 10px;
    line-height: 130px;
}

h2{
    margin-bottom: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

h3{
    margin-top: 00px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
}

.header{
    width: 400px;

}

.Author{
    width: 200px;
    margin-left: 90px;
    margin-top: 50px;
}

.ChapterName{
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ChapterNumber{
  width: 400px;
}

.para1{
    width: 400px;
    line-height: 26px;
    font-size: 24px;
    margin-bottom: 100px;
}

.para2{
    width: 400px;
    line-height: 26px;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.para3{
    width: 400px;
    line-height: 26px;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.para4{
    width: 400px;
    line-height: 26px;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.para5{
    width: 400px;
    line-height: 26px;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.left{
    position: absolute;
    left: 250px;
    width: 500px;
}

.right{
    position: absolute;
    left: 850px;
    top: 0px;
    
    width: 500px;
}









