body {
    background-color: cyan;
    margin: 0;
    padding: 0;
}

div{
    width: 130px;
    height: 200px;
    background-color: bisque;
    display: block;
    float: left;
    margin: -50px -50px -50px 50px;
    opacity: .7;
    border-radius: 0%;
    
    border: double;
    border-width: 30px;
    border-color: aqua;
    border-style: dashed:
        
    transform: rotate(45deg);
}

div:nth-child(5n){
    background-color: blueviolet
}

div:nth-child(3n){
    background-color: darkcyan
}

div:nth-child(5n+1){
    background-color: firebrick
}

div:nth-child(5n+2){
    background-color: darksalmon
}