body {
    background-color:darkgreen;
    margin: 0;
    padding: 0;
}

div{
    width: 100px;
    height: 100px;
    background-color: black;
    display: block;
    float: left;
    margin: -50px -50px 10px 10px;
    opacity: .7;
    border-radius: 100%;
    border: 10px;
    border-color: aqua;
}

div:nth-child(3n){
    background-color: chartreuse;
}

div:nth-child(2n){
    background-color: darkturquoise;
}

div:nth-child(3n+1){
    background-color: blueviolet
}

div:nth-child(3n+2){
    background-color: fuchsia;
}