body {
    background-color: antiquewhite
    margin: 0;
    padding: 0;
}

div{
    width: 130px;
    height: 200px;
    background-color: black;
    display: block;
    float: left;
    margin: -50px -60px 20px 10px;
    opacity: .4;
    
    border: 20px;
    border-color: aqua;
    
    transform: rotate(45deg);
}

div:nth-child(5n){
    background-color: aquamarine;
}

div:nth-child(3n){
    background-color: cadetblue;
}

div:nth-child(5n+1){
    background-color: dodgerblue;
}

div:nth-child(5n+2){
    background-color: deeppink;
}