body{
    margin: 0px;
}

.full{
    width: 100vw;
    height: 50vw;
}

.black{
    background-color: black;
}

.white{
    color: white;
}


.antiquewhite{
    background-color: antiquewhite;
}

.darksalmon{
    background-color: darksalmon;
}

.azure{
    background-color: azure;
}

.azure2{
    color: azure;
}

.aqua{
    color: aqua;
}

.aqua2{
    color: aqua;
    font-size: 150px;
}

.chartreuse{
    background-color: chartreuse;
}

.darkviolet{
    color: darkviolet;
}

.darkolivegreen2{
    background-color: darkolivegreen;
}

.darkolivegreen{
    color: darkolivegreen;
}

.gray{
    background-color: gray;
}

.darkcyan{
    background-color: darkcyan;
}

.crimson{
    background-color: crimson;
}

.crimson2{
    color: crimson;
}

.aquamarine{
    background-color: aquamarine; 
}

.burlywood{
    color: burlywood;
}

.darkmagenta{
    background-color: darkmagenta;
}

.fuchsia{
    color: fuchsia;
    font-size: 100px;
}

.shrink{
    font-size: 30px;
}

#title{
    transition: all 2s ease;
    padding-top: 250px;
}

#header{
    transition: all 3s ease;
}

#one{
    transition: all 2s ease;
}    

#two{
    transition: all 2.5s ease;
}    

#second{
    transition: all 2s ease;
}

#three{
    transition: all 2s ease;
}    

#four{
    transition: all 4s ease;
}    

#five{
    transition: all 5s ease;
}

h1{
    text-align: center;
    margin: 0px;
    padding: 40vh 0 0 0;
    font-size: 90px;
    transition: all 2s ease;
    margin-left: 400px;
    margin-right: 400px;
}