*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    text-align: center;
}

.SideHeader{
    transform: rotate(270deg);
    position: absolute;
    top: 400px;
    left: -60px;
}

h1{
    font-size: 170px;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

h2{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Slabo 27px', serif;
}

h3{
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
}

.para{
    margin-left: 460px;
    margin-right: 460px;
    text-align: left;
    line-height: 25px;
}


