body{
    margin: 0px;
    background-color: #ffe8fb;
}


.container1{
    position: absolute;
    top: 100px;
    left: 650px;
    opacity: 0.5;
}

.heart1-1{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    border-radius: 100%;
    top: 0px;
    left: 0px;
}

.heart1-2{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    top: 0px;
    left: 70px;
    border-radius: 100%;
}

.heart1-3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff2365;
    top: 47px;
    left: 40px;
    transform: rotate(45deg);
}




.container2{
    position: absolute;
    top: 550px;
    left: 830px;
    transform: rotate(180deg);
    opacity: 0.5;
}

.heart2-1{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    border-radius: 100%;
    top: 0px;
    left: 0px;
}

.heart2-2{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    top: 0px;
    left: 70px;
    border-radius: 100%;
}

.heart2-3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff2365;
    top: 47px;
    left: 40px;
    transform: rotate(45deg);
}





.container3{
    position: absolute;
    top: 420px;
    left: 530px;
    transform: rotate(270deg);
    opacity: 0.5;
}

.heart3-1{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    border-radius: 100%;
    top: 0px;
    left: 0px;
}

.heart3-2{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    top: 0px;
    left: 70px;
    border-radius: 100%;
}

.heart3-3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff2365;
    top: 47px;
    left: 40px;
    transform: rotate(45deg);
}





.container4{
    position: absolute;
    top: 240px;
    left: 950px;
    transform: rotate(90deg);
    opacity: 0.5;
}

.heart4-1{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    border-radius: 100%;
    top: 0px;
    left: 0px;
}

.heart4-2{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #ff2365;
    top: 0px;
    left: 70px;
    border-radius: 100%;
}

.heart4-3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff2365;
    top: 47px;
    left: 40px;
    transform: rotate(45deg);
}
    


.heartDesign{
    position: absolute;
}


.heartDesign2{
    position: absolute;
    top: 500px;
    left: -500px;
    
}


.heartDesign3{
    position: absolute;
    top: 500px;
    left: 500px;
    
}



.gift{
    position: absolute;
    top: 150px;
    left: 150px;
    ;
}

.gift2{
    position: absolute;
    top: 150px;
    left: 1130px;
   
}

.gift3{
    position: absolute;
    top: 650px;
    left: 640px;
}

.rect1{
    background-color: #c60d45;
    width: 200px;
    height: 350px;
}

.rect2{
    background-color: #ffe659;
    position: absolute;
    width: 200px;
    height: 30px;
    top: 260px;
    left: 0px;
}

.rect3{
    background-color: #ffe659;
    position: absolute;
    width: 30px;
    height: 350px;
    top: 0px;
    left: 130px;
}

.tri1{
    position: absolute;
    top: 260px;
    left: 100px;
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 70px solid #bf4eac;
    transform: rotate(45deg);
}

.tri2{
    position: absolute;
    top: 230px;
    left: 130px;
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 70px solid #bf4eac;
    transform: rotate(225deg);
}






























